.search {
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  gap: 10px;
}

.search__wrapper {
  position: relative;
  display: flex;
  flex: 1;
}

.search__wrapper img {
  position: absolute;
  left: 10px;
  top: 12px;
}

.search__input {
  padding: 15px 30px 15px 50px;
  flex: 1;
  background: #dedede;
  border: none;
  border-radius: 5px;
  color: #252525;
}

.search__input::placeholder {
  color: #494949;
}

.search button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
